<span class="section__title">{{ .Title | default "Research" }}</span>
{{.Content}}

{{ $prev := 3000}}
{{range .Data.Pages.ByDate.Reverse }}
{{if .Date}}
{{if gt $prev (.Date.Format "2006")}}
{{ if ne $prev 3000}}
</ul>
{{ end }}
<h4>{{ .Date.Format "2006" }}</h2>
<ul>
  {{end}}
  <li style="list-style-type:none">
    <a class="no-underline" href="{{.Permalink}}">{{.Title}}</a></td>
<div style="color:gray">{{.Params.authors}}</div>
<br>
</li>

{{ $prev = .Date.Format "2006"}}
{{end}}
{{end}}
