{{ $include_toc := .Params.include_toc}}
<article>
  <header>
    <h1>{{ .Title }}</h1>
    <div style="color:gray">{{.Params.Authors}}</div>
    {{if .Params.Paperlink}}
    <a href="{{.Params.Paperlink}}">
    {{end}}
      {{.Params.Place}}<span style="color:gray"> ({{.Date.Format "2006"}})
    </span>
    {{if .Params.Paperlink}}
    </a>
    {{end}}


  </header>
  <div class="post">
    {{ if (eq .File.Ext "html") }}
    {{ if .Description }}
    {{ .Description }}
    {{ else }}
    {{ .Summary }}
    {{ end }}
    {{ end }}
    {{if .Params.Video}}
    <a href="{{.Params.Video}}">
      <img height="18px"  src="/img/yt.png" style="display: inline;margin: auto;">
    </a>
    {{end}}
    {{if .Params.Code}}
    <a href="{{.Params.Code}}">
      <img height="18px"  src="/img/GitHub.png" style="display: inline;margin: auto;filter: invert(1)">
    </a>
    {{end}}

    {{ .Content }}
    {{ $file := print "static/bibtex/" .File.TranslationBaseName ".bib" }}
    {{ if (fileExists $file) }}
    <pre><code>{{$file | readFile }}</code></pre>
    {{end}}
  </div>
  {{ partial "page-single/post-comment.html" . }}
</article>
