<section class="social">
	{{ with .Site.Params.Social.twitter }}
	<a href="https://twitter.com/{{.}}" rel="me"><i class="fab fa-twitter fa-lg" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.Social.facebook }}
	<a href="https://facebook.com/{{.}}" rel="me"><i class="fab fa-facebook-f"></i></a>
	{{ end }}
	{{ with .Site.Params.Social.github }}
	<a href="https://github.com/{{.}}" rel="me"><i class="fab fa-github fa-lg" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.Social.bitbucket }}
	<a href="https://bitbucket.org/{{.}}" rel="me"><i class="fab fa-bitbucket fa-lg" aria-hidden="true"></i></a>
	{{ end }}
	{{ $gitlab_domain := "gitlab.com" }}
	{{ with .Site.Params.Social.custom_gitlab_domain }}
		{{ $gitlab_domain = . }}
	{{ end }}
	{{ with .Site.Params.Social.gitlab }}
	<a href="https://{{ $gitlab_domain }}/{{.}}" rel="me"><i class="fab fa-gitlab fa-lg" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.Social.instagram }}
	<a href="https://instagram.com/{{.}}" rel="me"><i class="fab fa-instagram fa-lg" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.Social.linkedin }}
	<a href="https://linkedin.com/in/{{.}}" rel="me"><i class="fab fa-linkedin fa-lg" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.Social.stackoverflow }}
	<a href="https://stackoverflow.com/users/{{.}}" rel="me"><i class="fab fa-stack-overflow fa-lg" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.Social.medium}}
	<a href="https://medium.com/@{{.}}" rel="me"><i class="fab fa-medium fa-lg" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.Social.xing }}
	<a href="https://www.xing.com/profile/{{.}}" rel="me"><i class="fab fa-xing fa-lg" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.Social.keybase }}
	<a href="https://keybase.io/{{.}}" rel="me"><i class="fab fa-keybase fa-lg" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.Social.telegram }}
	<a href="https://t.me/{{.}}" rel="me"><i class="fab fa-telegram fa-lg" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.Social.aboutme }}
	&nbsp;<a href="https://about.me/{{.}}"><i class="fas fa-address-card fa-lg" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.Social.orcid }}
	<a href="https://orcid.org/{{.}}" rel="me"><i class="fab fa-orcid fa-lg" aria-hidden="true"></i></a>
	{{end}}
	{{ with .Site.Params.Social.email }}
	<a href="mailto:{{.}}" rel="me"><i class="fas fa-at fa-lg" aria-hidden="true"></i></a>
	{{ end }}
</section>
