* {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0; }

html {
  font-family: "IBM Plex Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Droid Sans", "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 17px;
  line-height: 1.667em; }
  @media (min-width: 38em) {
    html {
      font-size: 20px; } }

body {
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a {
  color: #268bd2;
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: underline; }
  a strong {
    color: inherit; }

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px; }

table {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 85%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse; }

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5; }

th {
  text-align: left; }

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9; }

.container {
  max-width: 38rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto; }

footer {
  margin-bottom: 2rem; }

.page,
.post {
  margin-bottom: 4em; }
  .page li + li,
  .post li + li {
    margin-top: .25rem; }

.page-title,
.post-title,
.post-title a {
  color: #303030; }

.page-title,
.post-title {
  margin-top: 0; }

.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a; }

.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; }

.related-posts {
  padding-left: 0;
  list-style: none; }
  .related-posts h3 {
    margin-top: 0; }
  .related-posts li small {
    font-size: 75%;
    color: #999; }
  .related-posts li a:hover {
    color: #268bd2;
    text-decoration: none; }
    .related-posts li a:hover small {
      color: inherit; }

* {
  box-sizing: border-box; }

html {
  -webkit-text-size-adjust: 100%;
  box-direction: normal;
  font-family: "IBM Plex Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Droid Sans", "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 17px;
  line-height: 1.667em;
  font-weight: 400; }

html,
body {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4 {
  font-weight: 400; }

h1 {
  font-size: 2.15rem;
  line-height: 1.25;
  margin-bottom: 1rem; }

h2 {
  font-size: 1.85rem;
  margin-bottom: .5rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.3rem; }

h5 {
  font-size: 1rem; }

figure {
  max-width: 100%;
  margin: 0;
  padding: 0; }

blockquote, .important, .warning {
  padding: .8889rem;
  margin-top: 1.4em;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 6px;
  border-left-width: 6px;
  border-left-style: solid;
  border-right: 6px solid transparent;
  border-right-width: 6px;
  border-right-style: solid;
  border-right-color: rgba(0, 0, 0, 0) transparent;
  color: #7a7a7a; }

blockquote {
  background-color: #fafafa;
  border-left-color: #e6e6e6; }

.important {
  background-color: #fbf8e8;
  border-left-color: #fee450; }

.warning {
  background-color: #f2dbdc;
  border-left-color: #ae272f; }

kbd {
  font-family: "IBM Plex Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Droid Sans", "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 2px 7px;
  border: 1px solid #bbb;
  font-size: 0.8em;
  line-height: 1.4;
  background-color: #f3f3f3;
  color: #313131;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  border-radius: 3px;
  display: inline-block;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap; }

a {
  color: #268bd2;
  text-decoration: none;
  word-wrap: break-word; }
  a.sidebar-nav-item:hover {
    border-style: none;
    text-decoration: none; }
  a.sidebar-nav-item:focus {
    border-style: none;
    text-decoration: none; }
  a:focus {
    color: #515151;
    border-bottom: 1px dotted #bbb;
    text-decoration: none;
    background: transparent;
    background-color: transparent;
    word-wrap: break-word; }
    a:focus.tag {
      border-style: none;
      text-decoration: none; }
  a:hover {
    color: #515151;
    border-bottom: 1px dotted #bbb;
    text-decoration: none;
    background: transparent;
    background-color: transparent;
    word-wrap: break-word; }
    a:hover.tag {
      border-style: none;
      text-decoration: none; }
  a.tag {
    border-style: none;
    text-decoration: none; }
  a.read-more-symbol {
    text-decoration: none;
    border-style: none;
    text-decoration: none; }

.content {
  padding-bottom: 2rem;
  padding-top: 2rem; }

.sidebar {
  background-color: #335533;
  color: white;
  color: rgba(255, 255, 255, 0.5);
  padding: 2rem 1rem;
  text-align: center; }
  .sidebar a {
    color: #f9f9f9;
    border: none; }
    .sidebar a:hover {
      color: #268bd2; }
    .sidebar a:focus {
      color: #268bd2; }
  .sidebar .sidebar-about {
    text-align: center; }
  .sidebar .author-image {
    display: block;
    margin-top: 4px; }

.sidebar-nav {
  text-align: center;
  list-style: none;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-left: 0; }

.sidebar-nav-item {
  display: block;
  line-height: 1.75; }
  .sidebar-nav-item .active {
    font-weight: bold; }

.site__title {
  font-size: 3rem;
  margin-bottom: 0.5rem; }
  .site__title a:hover {
    border: none; }

.site__description {
  font-size: 1.285rem;
  font-weight: 300; }

.social {
  text-align: center; }
  .social a {
    padding: 0 4px;
    border-style: none;
    text-decoration: none; }

.img--circle {
  border-radius: 50%; }

.img--headshot {
  height: 115px;
  width: 115px; }

.img--caption {
  font-style: italic; }

.copyright {
  text-align: center;
  font-size: 0.7rem; }

.section__title {
  font-size: 2.15rem; }

.post-list__item {
  margin-bottom: 3em; }

.item__title--big {
  display: block;
  font-size: 1.785rem;
  line-height: 1.25; }

.item__title--small {
  font-size: 1rem; }

.item__date {
  color: #9a9a9a;
  display: block;
  font-size: 1rem;
  margin-bottom: .2rem;
  margin-top: .2rem; }

.post__meta {
  font-size: 0.8rem;
  color: #878787;
  font-weight: 300; }

.post__category {
  font-weight: bold; }

.post__tag {
  background: #eee;
  border-radius: 2px;
  color: #606570;
  font-size: 0.667rem;
  font-weight: bold;
  padding: 2px 6px; }

.post__title {
  /* For Chrome and Safari */
  /* For old Fx (3.6 to 15) */
  /* For pre-releases of IE 10*/
  /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(to right, #ff2c2c, #7a5e91);
  /* Standard syntax; must be last */
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text; }

.post__subtitle {
  display: block;
  font-size: 1.5rem;
  font-style: italic;
  padding: 0 0 1rem 0; }

#references li {
  font-size: 0.9rem; }

pre {
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2; }
  pre code {
    white-space: pre-wrap; }

code {
  font-family: "SF-Mono", "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Roboto Mono", "Ubuntu Mono", "Courier New", Courier, monospace;
  font-size: 0.9rem; }

code {
  padding: .25em .5em;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px; }

.hljs {
  font-size: 0.9rem;
  font-weight: 300;
  white-space: pre;
  border: 1px solid #ddd;
  border-radius: 4px; }

/*
body .gist {
	.gist-file {
		margin-bottom: 0;
		border-radius: 0;
	}
	.gist-data {
		border-bottom: none;
		border-radius: 0;
		background-color: $gray-3;
	}
	.blob-wrapper {
		border-radius: 0;
	}
	.highlight {
		background-color: transparent;
		font-family: Droid Sans Mono, monospace;
		font-size: 14px;
		td {
			border: none;
			padding: 5px 15px !important;
			line-height: 1;
			font-family: inherit;
			font-size: inherit;
		}
	}
	tr {
		&:first-child td {
			padding-top: 15px !important;
		}
		&:last-child td {
			padding-bottom: 15px !important;
		}
	}
	.blob-num {
		color: #ced4da;
		background-color: #495057;
		pointer-events: none;
	}
	.gist-meta {
		//display: none;
	}
}
*/
body .gist .gist-data {
  background-color: #fafafa; }

body .gist .highlight {
  background-color: transparent; }

body .gist td {
  border: none; }

ul.pagination {
  list-style: none; }
  ul.pagination li.page-item {
    display: inline-block; }
    ul.pagination li.page-item a {
      padding: 0.05em 0.4em; }
    ul.pagination li.page-item.active a {
      color: #c2255c;
      border-bottom: 3px solid #c2255c; }

.navigation {
  max-width: calc(100% - 0px);
  margin: 0 auto;
  margin-top: 60px; }
  .navigation a {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #c2255c;
    border: 2px solid #c2255c;
    line-height: 1.25;
    text-transform: uppercase; }
    .navigation a:hover {
      padding: 14px;
      border-width: 3px; }
    .navigation a:nth-child(2) {
      margin-top: 10px; }
    .navigation a:first-child:last-child {
      width: 100%; }
  .navigation .fa {
    font-size: 0.8rem; }
  .navigation .navigation-prev {
    text-align: left; }
    .navigation .navigation-prev .fa {
      padding-right: 10px; }
    .navigation .navigation-prev .navigation-tittle {
      padding-left: 4px; }
  .navigation .navigation-next {
    text-align: right; }
    .navigation .navigation-next .fa {
      padding-left: 10px; }
    .navigation .navigation-next .navigation-tittle {
      padding-right: 4px; }

.navigation-single a {
  text-transform: none; }

.badge-category,
a.badge-category {
  color: #fff !important;
  background-color: #0088cc; }
  .badge-category:hover, .badge-category:focus,
  a.badge-category:hover,
  a.badge-category:focus {
    color: #0088cc !important;
    background: transparent;
    background-color: transparent;
    text-decoration: none;
    border-bottom: none; }

.badge-tag,
a.badge-tag {
  color: #fff !important;
  background-color: #7766cc; }
  .badge-tag:hover, .badge-tag:focus,
  a.badge-tag:hover,
  a.badge-tag:focus {
    color: #7766cc !important;
    background: transparent;
    background-color: transparent;
    text-decoration: none;
    border-bottom: none; }

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem; }

.portfolio__content section {
  margin-bottom: 1.765rem; }

.portfolio__featured-project {
  margin: 0 0 1.765rem; }
  .portfolio__featured-project img {
    margin: 0 0 1rem;
    box-shadow: 1px 1px #eee; }

.project__image {
  border: 1px solid #eee;
  box-shadow: 1px 1px #eee; }

.project__title {
  margin-top: 1.765rem;
  letter-spacing: 1px;
  font-size: 1.85rem; }

.project__subtitle-big, .project__subtitle-small {
  font-style: italic;
  color: #778492;
  display: block;
  margin-top: 0.5rem;
  margin: 0 0 1rem; }

.project__subtitle-big {
  font-size: 1.5rem; }

.project__subtitle-small {
  font-size: 1.3rem; }

.project__featured-image {
  position: relative; }

.project__summary {
  margin-bottom: 1.765rem;
  text-align: left; }

.divider {
  margin-bottom: 3.5rem; }

.row-space {
  margin-bottom: 1rem; }

.col-xs-12, .col-sm-4, .col-md-4, .col-sm-8, .col-md-8 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-12 {
  width: 100%; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

@media (min-width: 320px) and (max-width: 767px) {
  html,
  body {
    font-size: 17px; }
  .sidebar li {
    padding: .1rem 0; }
  .sidebar .container {
    padding-left: 0;
    padding-right: 0; }
  .hidden-tablet {
    display: none; }
  .sidebar-about,
  .copyright {
    display: none; }
  .sidebar {
    margin: 0;
    padding: 0; }
  .menu-content {
    padding: 0 0 0 0px;
    max-height: 0;
    overflow: hidden;
    margin-top: 0; }
  .collapsible-menu {
    padding: 0px 0px; }
  .collapsible-menu ul {
    list-style-type: none;
    padding: 0; }
  .collapsible-menu li {
    display: block; }
  .collapsible-menu a {
    text-decoration: none;
    cursor: pointer; }
  .collapsible-menu label {
    background: url(/img/menu-open.svg) no-repeat left center;
    background-position: 1.5rem;
    display: block;
    cursor: pointer;
    color: #fff;
    padding: 10px 0 10px 0px; }
  input#menuToggle {
    display: none; }
  input#menuToggle + label {
    font-weight: bold; }
  input#menuToggle:checked + label {
    background-image: url(/img/menu-close.svg);
    background-position: 1.5rem;
    color: #fff; }
  input#menuToggle:checked ~ .menu-content {
    max-height: 100% !important; }
  .social {
    padding: 1em 0 1em 0; } }

@media (min-width: 768px) {
  html,
  body {
    font-size: 17px; }
  .sidebar {
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: left;
    top: 0;
    width: 18rem; }
  .sidebar-sticky {
    left: 1rem;
    position: absolute;
    right: 1rem;
    top: 1rem; }
  .content {
    margin-left: 20rem;
    margin-right: 2rem;
    max-width: 38rem; }
  .layout-reverse .sidebar {
    left: auto;
    right: 0; }
  .layout-reverse .content {
    margin-left: 2rem;
    margin-right: 20rem; }
  .col-sm-8 {
    width: 66.66666667%; }
  .project__title {
    margin-top: 0.2rem; }
  .navigation {
    display: flex;
    justify-content: space-between; }
    .navigation a {
      width: calc(50% - 10px); }
      .navigation a:nth-child(2) {
        margin-top: 0; }
  input#menuToggle,
  input#menuToggle + label {
    display: none; } }

@media (min-width: 992px) {
  html,
  body {
    font-size: 20px; }
  .content {
    margin-left: 20rem;
    margin-right: 2rem;
    max-width: 38rem; }
  .layout-reverse .content {
    margin-left: 4rem;
    margin-right: 22rem; }
  .col-md-4 {
    float: left;
    width: 33.33333333%; }
  .col-md-8 {
    float: left;
    width: 66.66666667%; }
  .portfolio-container {
    width: 1360px; } }

.element--center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.menu {
  background-color: #f3f3f3;
  color: #333;
  border-radius: 2px;
  padding: 1px 5px; }

.text-center {
  text-align: center; }

.pull-right {
  float: right; }

.theme-base-08 .sidebar {
  background-color: #ac4142; }

.theme-base-08 .content a {
  color: #ac4142; }

.theme-base-08 .related-posts li a:hover {
  color: #ac4142; }

.theme-base-09 .sidebar {
  background-color: #d28445; }

.theme-base-09 .content a {
  color: #d28445; }

.theme-base-09 .related-posts li a:hover {
  color: #d28445; }

.theme-base-0a .sidebar {
  background-color: #f4bf75; }

.theme-base-0a .content a {
  color: #f4bf75; }

.theme-base-0a .related-posts li a:hover {
  color: #f4bf75; }

.theme-base-0b .sidebar {
  background-color: #90a959; }

.theme-base-0b .content a {
  color: #90a959; }

.theme-base-0b .related-posts li a:hover {
  color: #90a959; }

.theme-base-0c .sidebar {
  background-color: #75b5aa; }

.theme-base-0c .content a {
  color: #75b5aa; }

.theme-base-0c .related-posts li a:hover {
  color: #75b5aa; }

.theme-base-0d .sidebar {
  background-color: #6a9fb5; }

.theme-base-0d .content a {
  color: #6a9fb5; }

.theme-base-0d .related-posts li a:hover {
  color: #6a9fb5; }

.theme-base-0e .sidebar {
  background-color: #aa759f; }

.theme-base-0e .content a {
  color: #aa759f; }

.theme-base-0e .related-posts li a:hover {
  color: #aa759f; }

.theme-base-0f .sidebar {
  background-color: #8f5536; }

.theme-base-0f .content a {
  color: #8f5536; }

.theme-base-0f .related-posts li a:hover {
  color: #8f5536; }

/*# sourceMappingURL=hyde-hyde.css.map */
