/* Background */ .chroma { color: #f8f8f2; }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err { color: #960050; background-color: #1e0010 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ .chroma .k { color: #81A1C1 }
/* KeywordConstant */ .chroma .kc { color: #66d9ef }
/* KeywordDeclaration */ .chroma .kd { color: #66d9ef }
/* KeywordNamespace */ .chroma .kn { color: #f92672 }
/* KeywordPseudo */ .chroma .kp { color: #66d9ef }
/* KeywordReserved */ .chroma .kr { color: #66d9ef }
/* KeywordType */ .chroma .kt { color: #66d9ef }
/* Name */ .chroma .n {  }
/* NameAttribute */ .chroma .na { /*color: #a6e22e*/ }
/* NameBuiltin */ .chroma .nb {  }
/* NameBuiltinPseudo */ .chroma .bp {  }
/* NameClass */ .chroma .nc { color: #a6e22e }
/* NameConstant */ .chroma .no { color: #66d9ef }
/* NameDecorator */ .chroma .nd { color: #a6e22e }
/* NameEntity */ .chroma .ni {  }
/* NameException */ .chroma .ne { color: #a6e22e }
/* NameFunction */ .chroma .nf { color: #88c0d0 }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ .chroma .nl {  }
/* NameNamespace */ .chroma .nn {  }
/* NameOther */ .chroma .nx { /*color: #a6e22e*/ }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt { color: #88c0d0 }
/* NameVariable */ .chroma .nv {  }
/* NameVariableClass */ .chroma .vc {  }
/* NameVariableGlobal */ .chroma .vg {  }
/* NameVariableInstance */ .chroma .vi {  }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l { color: #ae81ff }
/* LiteralDate */ .chroma .ld { color: #a3be8c }
/* LiteralString */ .chroma .s { color: #a3be8c }
/* LiteralStringAffix */ .chroma .sa { color: #a3be8c }
/* LiteralStringBacktick */ .chroma .sb { color: #a3be8c }
/* LiteralStringChar */ .chroma .sc { color: #a3be8c }
/* LiteralStringDelimiter */ .chroma .dl { color: #a3be8c }
/* LiteralStringDoc */ .chroma .sd { color: #a3be8c }
/* LiteralStringDouble */ .chroma .s2 { color: #a3be8c }
/* LiteralStringEscape */ .chroma .se { color: #ae81ff }
/* LiteralStringHeredoc */ .chroma .sh { color: #a3be8c }
/* LiteralStringInterpol */ .chroma .si { color: #a3be8c }
/* LiteralStringOther */ .chroma .sx { color: #a3be8c }
/* LiteralStringRegex */ .chroma .sr { color: #a3be8c }
/* LiteralStringSingle */ .chroma .s1 { color: #a3be8c }
/* LiteralStringSymbol */ .chroma .ss { color: #a3be8c }
/* LiteralNumber */ .chroma .m { color: #b48ead}
/* LiteralNumberBin */ .chroma .mb { color: #b48ead }
/* LiteralNumberFloat */ .chroma .mf { color: #b48ead }
/* LiteralNumberHex */ .chroma .mh { color: #b48ead }
/* LiteralNumberInteger */ .chroma .mi { color: #b48ead }
/* LiteralNumberIntegerLong */ .chroma .il { color: #b48ead }
/* LiteralNumberOct */ .chroma .mo { color: #b48ead }
/* Operator */ .chroma .o { color: #81A1C1 }
/* OperatorWord */ .chroma .ow { color: #f92672 }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { color: #d8dee9 }
/* CommentHashbang */ .chroma .ch { color: #75715e }
/* CommentMultiline */ .chroma .cm { color: #75715e }
/* CommentSingle */ .chroma .c1 { color: #75715e }
/* CommentSpecial */ .chroma .cs { color: #75715e }
/* CommentPreproc */ .chroma .cp { color: #81A1C1 }
/* CommentPreprocFile */ .chroma .cpf { color: #a3be8c }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd { color: #f92672 }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh {  }
/* GenericInserted */ .chroma .gi { color: #a6e22e }
/* GenericOutput */ .chroma .go {  }
/* GenericPrompt */ .chroma .gp {  }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #75715e }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl {  }
/* TextWhitespace */ .chroma .w {  }

@media (min-width: 900px) {
pre{
    width: min(85ch,60vw);
}
.src{
    width: min(85ch,60vw);
}
}
src{
    margin-left: 5vw;
    width: 90vw;
}
pre code{
    font-size: 13px ;
}
pre {
    font-size: 13px ;
}
pre {
    overflow-x: auto;
}
