{{ define "header" }}
    {{ partial "header.html" . }}
{{ end }}

{{ define "content" }}
{{ $total := len .Data.Pages }}
<span class="section__title">{{ .Title }} ({{ $total }})</span>
<ul class="posts">
    {{ with .Data.Pages }}
    {{ range . }}
    {{ $page := . }}
    <li>
    {{ with .Resources.GetMatch "recipe.yaml" }}
    {{ $d := transform.Unmarshal . }}
        <span class="list__title--small">
            <a href="{{ $page.RelPermalink }}" >{{ $d.metadata.title }}</a>
        </span>
    {{end}}
    </li>
    {{ end }}
    {{ end }}
</ul>
{{ end }}

{{ define "footer" }}
    {{ partial "research/footer.html" . }}
{{ end }}
