{{ define "header" }}
{{ partial "page-single/variables-init.html" . }}
{{ partial "header.html" . }}
{{ end }}

{{ define "content" }}


{{ with .Resources.GetMatch "recipe.yaml" }}
{{ $d := transform.Unmarshal . }}
<h2>{{ $d.metadata.title }}</h2>
<br>
{{ with (or ($.Resources.GetMatch "recipe.png") ($.Resources.GetMatch "recipe.jpg")) }}
  <img width="60%" src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}">
{{ end }}


{{if $d.metadata.servings}}
Serves: {{ $d.metadata.servings }}
<br>
{{end}}
{{if $d.metadata.prep_time}}
Preparation time: {{ $d.metadata.prep_time }} <i class="fas fa-clock"></i>
<br>
{{end}}
{{if $d.metadata.cook_time}}
Cooking time: {{ $d.metadata.cook_time }} <i class="fas fa-clock"></i>
<br>
{{end}}
<h3>Ingredients</h3>

<div class="highlight">
  <pre tabindex="0" class="chroma"><code class="language-octave" data-lang="octave">{{ range $d.ingredients }}{{.name}} ({{.amount}})<br>{{end}}</code></pre>
</div>

<h3>Cookware</h3>
<ul>
  {{ range $d.cookware }}
  <li>{{.name}}</li>
  {{end}}
</ul>

<h3>Steps</h3>
<ol>
  {{ range $d.steps }}
  <li> {{.description}} </li>
  {{end}}
</ol>
<br>
{{ end }}
{{ end }}

{{ define "footer" }}
{{ partial "page-single/footer.html" . }}
{{ partial "page-single/variables-deinit.html" . }}
{{ end }}
