{{ define "header" }}
    {{ partial "page-single/variables-init.html" . }}
    {{ partial "header.html" . }}
{{ end }}

{{ define "content" }}
{{ $include_toc := .Params.include_toc}}
<article>
  <header>
    <h1>{{ .Title }}</h1>
    {{ with .Params.subtitle }}
    <span class="post__subtitle">
      {{.}}
    </span>
    {{ end }}
    {{ partial "page-single/post-meta.html" . }}
  </header>
  {{ $tableOfContents := .TableOfContents }}
  {{ with .Site.Params.toc }}
  {{ if ne $include_toc false }}
    <div class="toc-wrapper">
      <input type="checkbox" id="tocToggle">
      <label for="tocToggle">Table of Content</label>
      {{ if eq . "hugo" }}
          {{ $tableOfContents }}
      {{ else if eq . "tocbot"}}
        <div class="toc" id="TableOfContents"></div>
      {{ end }}
    </div>
  {{ end }}
  {{ end }}
    <div class="post">
      {{ if (eq .File.Ext "html") }}
        {{ if .Description }}
        {{ .Description }}
        {{ else }}
        {{ .Summary }}
        {{ end }}
      {{ end }}
    {{ .Content }}
  </div>
</article>
{{ end }}

{{ define "footer" }}
    {{ partial "page-single/footer.html" . }}
    {{ partial "page-single/variables-deinit.html" . }}
{{ end }}
