<head>
  <link rel="stylesheet" href="/css/tufte-like.css"/>
    <link href="https://gmpg.org/xfn/11" rel="profile">
    {{ partial "header/meta.html" . }}
    {{ partial "header/styles.html" . }}
    {{ `<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->` | safeHTML }}
      <!-- from https://tex.stackexchange.com/a/27656 -->
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                processEscapes: true,
                tags: 'ams',
                macros: {
                    RR: '\\mathbb{R}',
                    NN : '\\mathbb{N}',
                    ZZ : '\\mathbb{Z}',
                    QQ : '\\mathbb{Q}',
                    RR : '\\mathbb{R}',
                    CC : '\\mathbb{C}',
                    Np : 'N_{\\text{p}}',
                    T : '^{\\mathrm{T}}',
                    1 : '\\mathbf{1}',
                    0 : '\\mathbf{0}',
                    abs : ['\\left\\lvert#1\\right\\rvert',1],
                    norm : ['\\|#1\\|',1],
                    Varepsilon : '\\mathcal{E}',
                    diff : '\\mathop{}\\mathopen{}\\mathrm{d}',
                    p : '^{(p)}',
                    set : ['\\mathcal{#1}',1],
                    vec : ['\\boldsymbol{#1}',1],
                    pplusone : '^{(p+1)}',
                    enstq : '\{#1\mathrel{}\mid\mathrel{}#2\}',
                }
            }
        };
      </script>


      <script id="MathJax-script" async
              src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
      </script>
      <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.3.1/mermaid.js">
      </script>

      <link rel="stylesheet" type="text/css" href="https://tikzjax.com/v1/fonts.css">
      <script src="https://tikzjax.com/v1/tikzjax.js"></script>

    {{ "<!-- Icons -->" | safeHTML }}
    {{ if .Site.Params.favicon }}
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href={{ .Site.Params.favicon | default "/favicon.png" }}>
    <link rel="shortcut icon" href={{ .Site.Params.favicon | default "/favicon.png" }}>
    {{ end  }}
    {{ partial "header/feeds.html" . }}
    {{ partial "header/custom.html" }}
</head>
