{{ range . }}
<li>
  <span class="list__title--small">
    <a href="{{ .RelPermalink }}" {{if .Draft}}class="draft"{{end}}>{{ .Title }}</a>
      {{if not .Date.IsZero}}
      <time class="pull-right hidden-tablet">{{ .Date.Format (.Site.Params.dateformat | default "2006-01-02") }}</time>
      {{end}}
  </span>
</li>
{{ end }}
