<!-- Sidebar -->
<div class="sidebar">
  <div class="container {{ with .Site.Params.sidebarSticky }}sidebar-sticky{{ end }}">
    <div class="sidebar-about">
      <span class="site__title">
        {{ $lang := (cond (eq .Lang "en") "" .Lang) }}
        <a href="{{ .Site.BaseURL }}{{ $lang}}">{{ .Site.Title }}</a>
      </span>
      {{ if and (isset .Site.Params "authorimage") (not (isset .Site.Params.Social "gravatar")) }}
        {{ with .Site.Params.authorimage }}
        {{ $strippedSlash := ($.Site.Params.authorimage | replaceRE "^(/)+(.*)" "$2") }}
        {{ $authorImage := (printf "%s%s" $.Site.BaseURL $strippedSlash) }}
        <div class="author-image">
          <img src="{{$authorImage}}" alt="Author Image" class="img--circle img--headshot element--center">
        </div>
        {{ end }}
      {{ end }}
      {{ with .Site.Params.Social.gravatar}}
        <div class="author-image">
          <img src="https://www.gravatar.com/avatar/{{md5 .}}?s=240&d=mp" class="img--circle img--headshot element--center" alt="gravatar">
        </div>
      {{ end }}
      <p class="site__description">
        {{ with .Site.Params.description }} {{.}} {{end}}
      </p>
    </div>
    <div class="collapsible-menu">
      <input type="checkbox" id="menuToggle">
      <label for="menuToggle">{{ .Site.Title }}
        <div class="onlySmall">
        {{ range $.Site.Home.AllTranslations }}
        <a href="{{ .Permalink }}">
          <img height="17em" width="30em" src="/img/{{ .Language }}.png"
               style="display: inline;margin: auto;">
        </a>
        {{ end }}
        </div>
      </label>
      <div class="menu-content">
        <section class="social">
        {{ partial "sidebar/menu.html" . }}
        <div class="onlyBig">
        {{ range $.Site.Home.AllTranslations }}
        <a href="{{ .Permalink }}">
          <img height="17em" width="30em" src="/img/{{ .Language }}.png"
               style="display: inline;margin: auto;">
        </a>
        {{ end }}
        </div>
        {{ partial "sidebar/social.html" . }}
        </section>
      </div>
    </div>
    {{ partial "sidebar/copyright.html" . }}
  </div>
</div>
