{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "content" }}
  <div class="post-list">
    {{/* $paginator := .Paginate (where .Site.RegularPages "Type" "in" (site.Params.mainSections )) */}}
    {{ $paginator := .Paginate (where (where .Site.RegularPages "Type" "in" "blog" ) "Type" "not in" "portfolio" ) }}
    {{ range $paginator.Pages }}
      {{ if .Draft }}
        {{ .Scratch.Set "draftPage" true }}
      {{ else }}
        {{ .Scratch.Set "draftPage" false }}
      {{ end }}
      <div class="post-list__item">
        <span class="item__title--big">
          <a href="{{ .RelPermalink }}" {{if .Scratch.Get "draftPage" }}class="draft"{{end}}>{{ .Title }}</a>
        </span>
        <span class="item__date">
          {{ .Date.Format (.Site.Params.dateformat | default "2006-01-02") }}
          {{ $url := .Site.BaseURL }}
          {{ $lang := (cond (eq .Lang "en") "" .Lang) }}
          {{ with .Params.tags }}
          •
          {{ $total := len . }}
          {{ if gt $total 0 }}
          {{ $subtotal := sub $total 1 }}
          {{ range $i, $tag := . }}
          <a href="{{ $url  }}{{$lang}}{{ "/tags/" | relURL }}{{ $tag | urlize }}">{{ $tag | lower }}</a>
          {{ if lt $i $subtotal }} •{{ end }}
          {{ end }}
          {{ end }}
          {{ end }}
          <br/>
    </span>
        <span {{if .Scratch.Get "draftPage" }}class="draft"{{end}}>
        {{ if .Description }}
        {{ .Description }}
        {{ else }}
        {{ .Summary }}
        {{ end }}
        {{ if .Truncated }}
          <p><a class="read-more-symbol" href="{{ .RelPermalink }}">{{ i18n "readmore" }}</a>
        {{ end }}
        </div>
        {{ .Scratch.Delete "draftPage" }}
     {{ end }}
  </div>
  {{ partial "pagination.html" . }}
{{ end }}

{{ define "footer" }}
  {{ partial "footer/font-awesome-js.html" . }}

  <script>
    GreenAudioPlayer.init({
    selector: '.player', // inits Green Audio Player on each audio container that has class "player"
    stopOthersOnPlay: true
    });
  </script>

{{ end }}
