
<script type="text/javascript">
  var tag = document.createElement('script');
  tag.id = 'iframe-demo';
  tag.src = 'https://www.youtube.com/iframe_api';
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  function onPlayerReady(event) {
      SetVideoSize();
  }
  function onPlayerStateChange(event) {
      SetVideoSize();
  }

  function PlayVideo( section )
  {
      player.seekTo( videoTimes[section] );
      player.playVideo();
  }
  function Show_Or_Hide_Video( section )
  {
      ClosedVideo = !ClosedVideo;
      SetVideoSize();
  }

function Go_To_Corresponding_Section()
  {
      var currentVideoTime = player.getCurrentTime();
      console.info(videoTimes.length);
      for ( var i = 0; i < videoTimes.length; ++i )
      {
          if ( (i==videoTimes.length-1) || currentVideoTime >= videoTimes[i] && currentVideoTime <= videoTimes[i+1] )
          {
              location.hash = "#" + 'h_' + i;
              console.info(i);
              break;
          }
      }
  }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/greghub/green-audio-player/dist/css/green-audio-player.min.css">
<script src="https://cdn.jsdelivr.net/gh/greghub/green-audio-player/dist/js/green-audio-player.min.js"></script>


