
{{ $options := (dict "outputStyle" "compressed" "enableSourceMap" true) }}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
{{ $style := resources.Get "scss/hyde-hyde.scss" | toCSS $options | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">


<style>


        :not(pre) > code + span.copy-to-clipboard {
            display: none;
        }
        /* Tooltip container */
        .toolti {
            /* position: relative; */
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted grey;
            color: #005050
        }
        
        /* Tooltip text */
        .toolti .tooltiptex {
            visibility: hidden;
            position: absolute;
            width: 180px;
            background-color: #555;
            color: #fff;
            text-align: center;
            padding: 2px;
            border-radius: 5px;
            z-index: 1;
            opacity: 0;
            transition: opacity .6s;
        }

        .toolti-top {
            bottom: 90%;
            margin-left: -90px;
        }       
        /* Show the tooltip text when you mouse over the tooltip container */
        .toolti:hover .tooltiptex {
            opacity: 1;    
            visibility: visible;
        }
      </style>


{{ $printStyle := resources.Get "scss/print.scss" | toCSS $options | fingerprint }}
<link rel="stylesheet" href="{{ $printStyle.RelPermalink }}" integrity="{{ $printStyle.Data.Integrity }}" media="print">

{{ with .Site.Params.toc }}
{{ if eq . "hugo" }}
{{ $hugoToc := resources.Get "scss/hugo-toc.scss" | toCSS $options | fingerprint }}
<link rel="stylesheet" href="{{ $hugoToc.RelPermalink }}" integrity="{{ $hugoToc.Data.Integrity }}">
{{ else if eq . "tocbot"}}
{{ $tocbot := resources.Get "scss/tocbot.scss" | toCSS $options | fingerprint }}
<link rel="stylesheet" href="{{ $tocbot.RelPermalink }}" integrity="{{ $tocbot.Data.Integrity }}">
{{ end }}
{{ end }}

<link rel="stylesheet" href="/css/syntax.css" >
