<html>
  <head>
    <title>{{.Title}}</title>
    <script language="JavaScript" src="/alglin.js"></script>
    <!-- <script language="JavaScript" src="/frames/miakure.js"></script> -->
    <style>
      body { background-color: {{ .Params.backgroundColor | default "#ccc" }}; color: black; font-family: arial; font-size: 15px; margin: 0; padding: 0; }
      canvas { margin: 0; padding: 0; border: 0px solid black; 
             }
      #buttons { margin: 0; padding: 10px; border: 0px solid black; width: 100px; height: 380px; position: absolute; top: 0; left: 400px; }
      input[type=text] { background-color: white; color: black; font-family: arial; font-size: 12px; border: 0; width: 30px; margin: 2px; }
    </style>
  </head>
  <body onload="window.setInterval(render, 16); {{safeJS .Params.Onload }}" onmousemove="{{safeJS .Params.Onmousemove}}" onmouseup="{{safeJS .Params.Onmouseup}}">
    <canvas id="myCanvas"></canvas>
    <script>

      canvas = document.getElementById("myCanvas");
      canvas.height= window.innerHeight;
      canvas.width= window.innerWidth;
      context = canvas.getContext("2d")

      mouseIsDown=false;
      canvas.addEventListener("mousemove",
                              function(evt) {
                                  var rect = canvas.getBoundingClientRect();
                                  mousePos = {x: evt.clientX - rect.left, y: evt.clientY - rect.top};
                              }, false);

      canvas.addEventListener("touchstart",
                              function(evt) {
                                  mouseIsDown = true;
                                  var rect = canvas.getBoundingClientRect();
                                  mousePos = {
                                      x: evt.touches[0].clientX - rect.left,
                                      y: evt.touches[0].clientY - rect.top};
                                  if (evt.target == canvas)
                                      evt.preventDefault();
                              }, false);
      canvas.addEventListener("touchmove",
                              function(evt) {
                                  var rect = canvas.getBoundingClientRect();
                                  mousePos = {
                                      x: evt.touches[0].clientX - rect.left,
                                      y: evt.touches[0].clientY - rect.top};
                                  if (evt.target == canvas)
                                      evt.preventDefault();
                              }, false);
      canvas.addEventListener("touchend", function(evt) {mouseIsDown = false; if (evt.target == canvas) evt.preventDefault();}, false);
      canvas.addEventListener("mousedown", function(evt) {mouseIsDown = true}, false);
      canvas.addEventListener("mouseup",
                              function(evt) {
                                  mouseIsDown = false
                              }, false);
      if (typeof mousePos == "undefined"){
          mousePos={
              x:canvas.width/2,
              y:canvas.height/2};
      }

      {{ safeJS .Content }}
      


    </script>
  </body>
</html>
