<iframe id="{{.Get "id"}}Frame" style="border:none;" src="about:blank" width="320" height="320"></iframe>

<script type="text/javascript">
  var doc = document.getElementById("{{.Get "id"}}Frame").contentWindow.document;
  doc.open();
  doc.write('<html> <head><title> </title></head> <body> ');
  doc.write('<script language="JavaScript" src="/alglin.js"><\/script>');
  doc.write('<canvas id="{{.Get "id"}}-canvas"></canvas><script type="text/javascript">');
  doc.write('canvas = document.getElementById("{{ .Get "id" }}-canvas"); canvas.width = 300; canvas.height = 300;');
  doc.write(' context = canvas.getContext("2d");');
  doc.write('mouseIsDown=false;');
  doc.write('canvas.addEventListener("mousemove", function(evt) {var rect = canvas.getBoundingClientRect(); mousePos = {x: evt.clientX - rect.left, y: evt.clientY - rect.top};}, false); ');
  doc.write('canvas.addEventListener("touchstart", function(evt) {mouseIsDown = true; var rect = canvas.getBoundingClientRect(); mousePos = {x: evt.touches[0].clientX - rect.left, y: evt.touches[0].clientY - rect.top}; if (evt.target == canvas) evt.preventDefault();}, false);');
  doc.write('canvas.addEventListener("touchmove", function(evt) {var rect = canvas.getBoundingClientRect(); mousePos = {x: evt.touches[0].clientX - rect.left, y: evt.touches[0].clientY - rect.top}; if (evt.target == canvas) evt.preventDefault();}, false);');
  doc.write('canvas.addEventListener("touchend", function(evt) {mouseIsDown = false; if (evt.target == canvas) evt.preventDefault();}, false);');
  doc.write('canvas.addEventListener("mousedown", function(evt) {mouseIsDown = true}, false);');
  doc.write('canvas.addEventListener("mouseup", function(evt) {mouseIsDown = false}, false);');
  doc.write('if (typeof mousePos == "undefined"){mousePos={x:canvas.width/2,y:canvas.height/2};}');
  doc.write('{{ safeJS .Inner }}')
  doc.write('<\/script>')
  doc.write('</body> </html>')
  doc.close();
  </script>
