<div id="{{.Get "id"}}-canvas"style="width:600px;height:370px;"></div>
<script type="text/javascript">
// {
var canvas= document.getElementById("{{ .Get "id" }}-canvas");
    {{ safeJS .Inner }}
    Plotly.newPlot(canvas, data,layout,{displayModeBar: false});
// }
</script>

