<a href="javascript:PlayVideo({{.Get "id"}})" name="h_{{.Get "id"}}"> 🔎{{ div (int (.Get "time")) 60 }}m{{mod (.Get "time") 60 }}s </a>
<script type="text/javascript">
  videoTimes.push(parseInt({{.Get "time"}}));
</script >
