{{ if .Get "frameId" }}
<script type="text/javascript">
  var player;
  function onYouTubeIframeAPIReady() {
      player = new YT.Player('{{.Get "frameId"}}', {
          events: {
              'onReady': onPlayerReady,
              'onStateChange': onPlayerStateChange
          }
      });

  }
  var videoTimes = new Array(0);

  </script >
{{end}}

    <figure class="content-media content-media--video" {{ if .Get "frameId" }}id="{{ .Get "frameId" }}-container-container"{{end}}>
    <div class="container" {{ if .Get "frameId" }}id="{{ .Get "frameId" }}-container"{{end}}>
    <iframe class="content-media__object" {{ if .Get "frameId" }}id="{{ .Get "frameId" }}"{{end}} src="https://www.youtube.com/embed/{{ .Get "id" }}?enablejsapi=1" frameborder="0"></iframe>
    </div>
    </figure>

{{ if .Get "frameId" }}
    <a href="javascript:Go_To_Corresponding_Section()" >🔎🖹</a>
   {{end}}

    <style>
.content-media--video {
   background-color: #ddd;
   display: block;
   position: relative;
   padding: 0 0 56.25% 0;
}
.content-media--video div {
    // display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.content-media--video div iframe {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

</style>

{{ if .Get "frameId" }}
    <style>

#{{ .Get "frameId" }}-container {
  transition: width .2s ease-in-out, height .2s ease-in-out, transform .38s ease-in-out;
}
/** Use .sticky */
#{{ .Get "frameId" }}-container.is-sticky {
       transform: translateX(2%);
  position: fixed;
  top: 15px;
  left: auto;
  right: 15px;
  max-width: 420px;
  max-height: 236px;
}
@media screen and (max-width: 700px) {
   #{{ .Get "frameId" }}.is-sticky {
   }
}
@media screen and (min-width: 1300px) {
   #{{ .Get "frameId" }}.is-sticky {
      transform: translateX(-115%);
   }
}
</style>

<script type="text/javascript">
jQuery(function(e) {
    function s(e) {
        var s = 1 === e.data
          , a = 2 === e.data
          , o = 0 === e.data;
        s && (i.removeClass("is-paused"),
        i.toggleClass("is-playing")),
        a && (i.removeClass("is-playing"),
        i.toggleClass("is-paused")),
        o && i.removeClass("is-playing", "is-paused")
    }
    var a, o = e(window), t = e("#{{ .Get "frameId" }}-container-container"), i = e("#{{ .Get "frameId" }}-container"), n = t.offset().top, l = Math.floor(n + t.outerHeight() / 2);
    o.on("resize", function() {
        n = t.offset().top,
        l = Math.floor(n + t.outerHeight() / 2)
    }).on("scroll", function() {
        i.toggleClass("is-sticky", o.scrollTop() > l )
    })
});
</script >
{{end}}
