{{ $total := len .Data.Pages }}
<span class="section__title">{{ .Title }} ({{ $total }})</span>
<ul class="posts">
    {{ with .Data.Pages }}
        {{ partial "posts-list.html" . }}
    {{ end }}
</ul>
